<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://books.google.com.ua/books?id=Vz2KIa9W0tkC&pg=PA4&lpg=PA4&dq=COCA+IN&source=bl&ots=_tUCqro5W2&sig=ACfU3U2vQbfpyzZJ0zIqylyXahkxHh1apA&hl=uk&sa=X&ved=2ahUKEwjuof_vvYDlAhU7wMQBHZyTDoMQ6AEwE3oECAoQAQ#v=onepage&q=COCA%20IN&f=false">COCA </a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.coca-colaukraine.com/">COCA IN</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.olx.ua/uk/if/?gclid=EAIaIQobChMI77_hu_bu5AIVFaWaCh1oVgvCEAAYASAAEgL9uPD_BwE&gclsrc=aw.ds">OLX </a></h2>
  </li>
</ul>
<h2>Hello</h2>
<router-outlet></router-outlet>
<h1>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h1>

<H2>Scores</H2>
<app-scores-table></app-scores-table>  
export class score

    playerdata = [
    { name: 'player1'
      score: [0,0,0,0,0]
      total: 0  
    }
    { name: 'player2'
    score: [5,4,8,14,0]
    total: 0  
    }
    { name: 'player3'
    score: [18,2,2,2,0]
    total: 0  
    }
  ]

  reCalcTotals() {
    for (let p=0; p<this.playerData.length; p++) {
      this.playerData[p].total = 0;
      for (let s=0; s<this.playerData[p].scores.length; s++)
        this.playerData[p].total += 
          this.playerData[p].scores[s]
    }
  }

  constructor() {}

  ngOnThis() {
    this.RaCalcTotals();
  } 