table, td {
    border: 1px solid black;
    border-collapse: collapse; 
 }
 table { 
     margin: 0 auto;
 }
 td { 
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 9px;
 }
 .w {
    background-color:silver;
 }
 .r {
    background-color:red;
 }   
 .b {
    background-color:blue;
 }
 .g {
    background-color: gold;
 }
 .lb {
    background-color: rgb(44, 203, 243);
 } 